---
title: Using the Cloud Foundry Command Line Interface (cf CLI)
owner: CLI
---

This guide explains the Cloud Foundry Command Line Interface (cf CLI), a tool you use to deploy and manage your applications.

Contents in this section:

* <a href="./install-go-cli.html" class="subnav">Installing the cf CLI</a>
* <a href="./getting-started.html" class="subnav">Getting Started with the cf CLI</a>
* <a href="./http-proxy.html" class="subnav">Using the cf CLI with an HTTP Proxy Server</a>
* <a href="./self-signed.html" class="subnav">Using the cf CLI with a Self-Signed Certificate</a>
* <a href="./use-cli-plugins.html" class="subnav">Using cf CLI Plugins</a>
* <a href="./develop-cli-plugins.html" class="subnav">Developing cf CLI Plugins</a>
* <a href="./cf-help.html" class="subnav">Cloud Foundry CLI Reference Guide</a>