---
title: Installing the cf CLI
owner: CLI
---

This topic describes how to install and uninstall the Cloud Foundry Command Line Interface (cf CLI).

You can install the cf CLI with a package manager, an installer, or a compressed binary.

<%= vars.cli_rec_min_version %>


## <a id='overview'></a> Overview

The cf CLI is the official command line client for <%= vars.product_name %>.

The procedures in this topic describe how to install the cf CLI on your operating system. You can install the cf CLI with a package manager, an installer, or a compressed binary.

For more information about how to use the cf CLI, see [Getting Started with cf CLI](getting-started.html).

To learn when cf CLI updates are released and to download a new binary or installer, see [Releases](https://github.com/cloudfoundry/cli/releases) in the Cloud Foundry CLI repository on GitHub.


## <a name="pkg"></a> Install the cf CLI Using a Package Manager

These sections describe how to install the cf CLI using a package manager. You can install the cf CLI using a package manager on Mac OS X and Linux operating systems.

### <a id="mac"></a> Mac OS X Installation

To install the cf CLI for Mac OS X using Homebrew:

1. Install Homebrew. For instructions, see [Install Homebrew](http://brew.sh/) on the Homebrew website.

1. Install the cf CLI by running:

		```
		brew install cloudfoundry/tap/cf-cli
		```

### <a name='pkg-linux'></a> Linux Installation

There are two ways to install the cf CLI using a package manager, depending on your Linux distribution.

To install the cf CLI on Debian and Ubuntu-based Linux distributions:

1. Add the Cloud Foundry Foundation public key and package repository to your system by running:

		wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
		echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list

1. Update your local package index by running:

		sudo apt-get update

1. Install the cf CLI by running:

		sudo apt-get install cf-cli

To install the cf CLI on Enterprise Linux and Fedora RHEL6/CentOS6 and later distributions:

1. Configure the Cloud Foundry Foundation package repository by running:

		sudo wget -O /etc/yum.repos.d/cloudfoundry-cli.repo https://packages.cloudfoundry.org/fedora/cloudfoundry-cli.repo

1. Install the cf CLI by running:

		sudo yum install cf-cli
		<br>
		<br>
This also downloads and adds the public key to your system.


## <a id='installer'></a> Use an Installer

These sections describe how to install the cf CLI using an installer. You can install the cf CLI using a package manager on Windows, Mac OS X, and Linux operating systems.

### <a id="windows"></a> Windows Installation

You can run cf CLI in either the Windows Subsystem for Linux (WSL), also known as Bash on Windows, or in the
Windows command line.

To use WSL, follow the [Linux Installation](#pkg-linux) instructions.

To use the cf CLI installer for the Windows command line:

1. Download [the Windows installer](https://cli.run.pivotal.io/stable?release=windows64&source=github).

1. Unpack the ZIP file.

1. Right click on the 'cf_installer' executable and select **Run as Administrator**.

1. When prompted, click **Install**, then **Finish**.

1. To verify your installation, open a command prompt and type `cf`.

If your installation was successful, the cf CLI help listing appears. You may need to restart the command prompt to see the cf CLI help listing appear.

### <a id="mac"></a> Mac OS X Installation

To use the cf CLI installer for Mac OS X:

1. Download [the OS X installer](https://cli.run.pivotal.io/stable?release=macosx64&source=github).

1. Open the `.pkg` file.

1. In the installer wizard, click **Continue**.

1. Select an install destination and click **Continue**.

1. When prompted, click **Install**.

1. To verify your installation, open a terminal window and type `cf`.

If your installation was successful, the cf CLI help listing appears.

### <a id="linux"></a> Linux Installation

To use the cf CLI installer for Linux:

1. Download the Linux installer for your [Debian/Ubuntu](https://cli.run.pivotal.io/stable?release=debian64&source=github) or [Red Hat](https://cli.run.pivotal.io/stable?release=redhat64&source=github) system.

1. Install using your system's package manager by running one of these commands:
 		<p class ='note'><strong>Note:</strong> These commands may require <code>sudo</code>.</p>
    * For Debian/Ubuntu, run:

				```
				dpkg -i path/to/cf-cli-*.deb && apt-get install -f
				```
    * For Red Hat, run:

				```
				rpm -i path/to/cf-cli-*.rpm
				```

1. To verify your installation, open a terminal window and type `cf`.

If your installation was successful, the cf CLI help listing appears.


## <a name="bin"></a> Install the cf CLI Using a Compressed Binary

You can install the cf CLI using a compressed binary on Windows, Mac OS X, and Linux operating systems.

For more information about downloading and installing a compressed binary, see [Installers and compressed binaries](https://github.com/cloudfoundry/cli#installers-and-compressed-binaries) in the Cloud Foundry CLI repository on GitHub.

The specific procedures vary by operating system, but the following example illustrates downloading and installing the binary on Mac OS X:

1. Download and extract the Mac OS X binary by running:

		```
		curl -L "https://cli.run.pivotal.io/stable?release=macosx64-binary&source=github" | tar -zx
		```

1. Move the binary to `/usr/local/bin`, or another location in your `$PATH`, by running:

		```
		mv cf /usr/local/bin
		```

1. Confirm your cf CLI version by running:

		```
		cf --version
		```


## <a id="nextstep"></a> Next Steps

For more information about how to use the cf CLI, see [Getting Started with cf CLI](./getting-started.html).

<%= vars.recommended_by %> recommends that you see [Releases](https://github.com/cloudfoundry/cli/releases) in the Cloud Foundry CLI repository on GitHub to learn when updates are released, and download a new binary or a new installer when you want to update to the latest version.

These sections describe how to uninstall the cf CLI. The method for uninstalling the cf CLI differs depending on the installation method.


## <a id="uninstall"></a> Uninstall the cf CLI

These sections describe how to uninstall the cf CLI. The method for uninstalling the cf CLI differs depending on the installation method.

### <a id="uninstall-pkg"></a> Package Manager

If you installed the cf CLI with a package manager, follow the instructions specific to your package manager.

The specific procedures vary by package manager, but the following example illustrates uninstalling the cf CLI with Homebrew:

1. Run:

		```
		brew uninstall cf-cli
		```

### <a id="uninstall-installer"></a> Installer

If you installed the cf CLI with an installer, follow the procedure in this section that is specific to your operating system.

To uninstall the cf CLI on Mac OS X:

1. Delete the binary `/usr/local/bin/cf`.

1. Delete the directory `/usr/local/share/doc/cf-cli`.

To uninstall the cf CLI on Windows:

1. Navigate to the **Control Panel** and click **Programs and Features**.

1. Select **Cloud Foundry CLI VERSION**.

1. Click **Uninstall**.

### <a id="uninstall-binary"></a> Binary

To uninstall the cf CLI after installing it with a binary:

1. Navigate to the location where you copied the binary.

1. Delete the binary.

### <a id="version6"></a> cf CLI v6

To uninstall cf CLI v6:

1. Run:

		```
		gem uninstall cf
		```

<p class="note"><strong>Note:</strong> To ensure that your Ruby environment manager registers the change, close and reopen your terminal.</p>
