---
title: Using the cf CLI with a Self-Signed Certificate
owner: CLI
---

<strong><%= modified_date %></strong>

This topic describes how to use the cf CLI to communicate securely with a Cloud Foundry deployment using a self-signed certificate without specifying `--skip-ssl-validation`.

Before following the procedure below, you must generate a self-signed certificate and insert the certificate into the router properties of your manifest. Review the [Securing Traffic into Cloud Foundry](../adminguide/securing-traffic.html) topic for more information.

## <a id="install-local"></a>Install the Certificate on Local Machines ##

All users who want to use the cf CLI to communicate securely with a deployment using a self-signed certificate must insert the certificate into their local truststore.

### <a id="macosx"></a>Installing the Certificate on Mac OS X

Enter the following command to place the self-signed certificate file `server.crt` into your local truststore.

<pre class="terminal">$ sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain server.crt</pre>

### <a id="linux"></a>Installing the Certificate on Linux

Open your local truststore file and add the contents of the self-signed certificate file `server.crt`. The location of the truststore file varies depending on your Linux distribution. 

Perform the following steps specific to your distribution to display the contents of your truststore file in the terminal.

<ul>
<li>Debian/Ubuntu/Gentoo: <pre class="terminal">$ cat /etc/ssl/certs/ca-certificates.crt</pre></li>
<li>Fedora/RHEL: <pre class="terminal">/etc/pki/tls/certs/ca-bundle.crt</pre></li>
</ul>

### <a id="windows"></a>Installing the Certificate on Windows

1. Right-click on the self-signed certificate file `server.crt` and click **Install Certificate**. 

1. Choose to install the certificate as the **Current User** or **Local Machine**. Choose the **Trusted Root Certification Authorities** as the certification store.
