---
title: Using a cf CLI Plug-in
owner: CLI
---

This topic describes using Cloud Foundry Command Line Interface (cf CLI) plug-ins.


## <a id='overview'></a> Overview

The cf CLI includes plug-in capabilitylity. The plug-in allows you to add custom commands to the cf CLI.

You can install and use the plug-in that Cloud Foundry developers and thirdparty developers create. For a current list of community-supported plug-ins, see the [Cloud Foundry Community CLI Plug-in page](https://plugins.cloudfoundry.org). For information about submitting your own plugin, see the [Cloud Foundry CLI Plugin Repository (CLIPR)](https://github.com/cloudfoundry-incubator/cli-plugin-repo) repository on GitHub.

<p class='note warning'><strong>Caution:</strong> Plug-in's are not vetted, including for security or function. Use plug-ins at your own risk.</p>

The cf CLI identifies a plug-in by its binary filename, its developer defined plug-in name, and the commands that the plug-in provides. Use the binary filename only to install a plug-in. You use the plug-in name or a command for any other action.

<p class="note"><strong>Note:</strong> The cf CLI uses case sensitive commands, but plug in management commands accept plug-in and repository names irrespective of their casing.</p>


## <a id="plugin-directory"></a> Changing the Plug-in Directory

By default, the cf CLI stores plug-ins on your workstation in `$CF_HOME/.cf/plugins`, which defaults to `$HOME/.cf/plugins`.

To change the root directory of this path from `$CF_HOME`, you must set the `CF_PLUGIN_HOME` environment variable.

The cf CLI appends `.cf/plugins` to the `CF_PLUGIN_HOME` path that you specify and stores plug ins in that location. For example, if you set `CF_PLUGIN_HOME` to `/my-folder`, cf CLI stores plugins in `/my-folder/.cf/plugins`.


## <a id="plugin-install"></a> Installing a Plug-in

To install a plug-in:

1. Download a binary or the source code for a plug-in from a trusted provider.
    <p class="note"><strong>Note:</strong> The cf CLI requires a binary file compiled from source code written in Go. If you download source code, you must compile the code to create a binary.</p>

1. Run:

    ```
    cf install-plugin BINARY-FILENAME
    ```
    Where `BINARY-FILENAME` is the path to and name of your binary file.
    <p class="note"><strong>Note:</strong> You cannot install a plugin that has the same name or that uses the same command as an existing plugin. If you attempt to do so, you are prompted to uninstall the existing plugin.</p>
    <p class="note"><strong>Note:</strong> The cf CLI prohibits you from implementing any plugin that uses a native cf CLI command name or alias. For example, if you attempt to install a third-party plugin that includes the <code>cf push</code> command, the cf CLI halts the installation.</p>

For more information, see [install-plugin](http://cli.cloudfoundry.org/en-US/cf/install-plugin.html) in the _Cloud Foundry CLI Reference Guide_.

## <a id="plugin-run-cmd"></a> Managing Plugins and Running Plug-in Commands

Use the contents of the `cf help` **CLI plug-in management** and **Commands offered by installed plug-ins** sections to manage plug-ins and run plug-in commands.

To manage plug-ins and run plug-in commands:

1. List all installed plug-ins and all commands that the plug-ins provide by running:

    ```
    cf plugins
    ```

1. Run a plug-in command:

    ```
    cf PLUGIN-COMMAND
    ```
    Where `PLUGIN-COMMAND` is the plug-in command you ran.


## <a id="plugins-outdated"></a> Checking for Plug-in Updates

To check all registered plug-in repositories for newer versions of currently installed plug-ins:

1. Run:

    ```
    cf plugins --outdated
    ```

1. See the output of the previous command, in this example:
    <pre class="terminal">
    $ cf plugins --outdated
    Searching CF-Community, company-repo for newer versions of installed plugins...
    plugin          version   latest version
    coffeemaker     1.1.2     1.2.0
    Use 'cf install-plugin' to update a plugin to the latest version.
    </pre>

For more information about the `cf plugins` command, see [cf plugins](http://cli.cloudfoundry.org/en-US/cf/plugins.html) in the _Cloud Foundry CLI Reference Guide_.


## <a id="plugin-uninstall"></a> Uninstalling a Plug-in

To uninstall a plug-in:

1. To view the names of all installed plug-ins, run:

    ```
    cf plugins
    ```

1. Run:

    ```
    cf uninstall-plugin PLUGIN-NAME
    ```
    Where `PLUGIN-NAME` is the name of the plugin you want to uninstall.
    <p class='note'><strong>Note:</strong> You must use the name of the plugin to uninstall it, not the binary filename.</p>

For more information, see [uninstall-plugin](http://cli.cloudfoundry.org/en-US/cf/uninstall-plugin.html) in the _Cloud Foundry CLI Reference Guide_.

## <a id="adding-plugin-repo"></a> Adding  a Plug-in Repository

To add a plug-in repository:

1. Run:

    ```
    cf add-plugin-repo REPOSITORY-NAME-URL
    ```
    Where `REPOSITORY-NAME-URL` is the URL of the plug-in repository you want to add.

For more information, see [add-plugin-repo](http://cli.cloudfoundry.org/en-US/cf/add-plugin-repo.html) in the _Cloud Foundry CLI Reference Guide_.


## <a id="listing-plugin-repo"></a> Viewing  available Plug-in Repositories

To view your available plug-in repositories:

1. Run:

    ```
    cf list-plugin-repos
    ```

For more information, see [list-plugin-repos](http://cli.cloudfoundry.org/en-US/cf/list-plugin-repos.html) in the _Cloud Foundry CLI Reference Guide_.


## <a id="listing-plugin-repo"></a> Listing all Plug-ins by Repository

To show all plug-ins from all available repositories:

1. Run:

    ```
    cf repo-plugins
    ```

For more information, see [repo-plugins](http://cli.cloudfoundry.org/en-US/cf/repo-plugins.html) in the _Cloud Foundry CLI Reference Guide_.


## <a id="troubleshoot"></a> Troubleshooting

The cf CLI provides the following error messages to help you troubleshoot installation and usage issues. Third party plug-ins provide their own error messages.

### <a id='permission-denied'></a> Permission Denied

If you receive a `permission denied` error message, you lack required permissions to the plug-in. You must have `read` and `execute` permissions to the plug-in binary file.

### <a id='plugin-command-collision'></a> Plug-in Command Collision

Plug-in names and commands must be unique. The CLI displays an error message if you attempt to install a plug-in with a non unique name or command.

If the plug-in has the same name or command as a currently installed plug-in, you must uninstall the existing plug-in to install the new plug-in.

If the plug-in has a command with the same name as a native cf CLI command or alias, you cannot install the plug-in.
