---
title: Upgrading to cf CLI v7
owner: VAT
---

This topic describes the major changes in cf CLI v7 and provides guidance for upgrading from cf CLI v6. 

## <a id="overview"></a> Overview

cf CLI v7 updates all commands to use [Cloud Foundry API (CAPI) v3](https://v3-apidocs.cloudfoundry.org/index.html#introduction) instead of [CAPI v2](http://apidocs.cloudfoundry.org/). 

### <a id="new-features"></a> New Workflows Supported by CAPI v3 and cf CLI v7

The following list provides an overview of the new features available through the cf CLI now that it is backed by CAPI v3. Each item includes a link to additional documentation:

* [Deploying Apps with Zero Downtime](https://docs.cloudfoundry.org/devguide/deploy-apps/zero-downtime.html)
	* Push updates to apps without incurring downtime.
* [Pushing an App with Multiple Processes](https://docs.cloudfoundry.org/devguide/multiple-processes.html)
	* Use a single command to push apps that run multiple processes, such as a web app that has a UI process and a worker process. 
* [Running cf push Sub-Step Commands](http://docs.cloudfoundry.org/devguide/push-sub-commands.html)
	* Exercise granular control over the cf push process. These commands break down the cf push process into sub-steps that can run independently.
* [Running Tasks](https://docs.cloudfoundry.org/devguide/using-tasks.html)
	* Run tasks in Cloud Foundry. A task is an app or script whose code is included as part of a deployed app, but runs independently in its own container.

## <a id="install"></a> Install cf CLI v7

To install cf CLI v7, do the following: 

## <a id="changes"></a> Changes in cf CLI v7

### Style Changes
The CLI embarked on an effort to apply consistency to output, table display, and working closely with the CAPI team to return the server error directly.
Changes to the CLI conform to the style guide. 
- table names 
- ...



### Differences between the v6 CLI and v7


<table>
<tr>
<th style="width:40%">Command</th>
<th>Changes</th>
</tr>
<tr>
<td style="vertical-align:top"><code>cf apps</code></td>
<td>
	<ul>
		<li><strong>[Update]</strong>: Displays information about <code>processes</code>.</li>
		<li><strong>[Update]</strong>: <code>url</code> field renamed to <code>routes</code>.</li>
		<li><strong>[Update]</strong>: Removes information about <code>instances</code>, <code>memory</code>, and <code>disk</code>.</li>
		<li><strong>[Update]</strong>: Apps listed alphabetically.</li>
	</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf check-route</code></td>
<td>
	<ul>
		<li><strong>[Update]</strong>: <code>HOST</code> is no longer a required argument.</li>
		<li><strong>[Update]</strong>: No longer requires a backslash.</li>
		<li><strong>[Added flag]</strong>: Use <code>--hostname</code> to specify a hostname.</li>
	</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf create-buildpack</code></td>
<td>
	<ul>
		<li><strong>[Removed flag]</strong>: <code>--enable</code>. Creating a buildpack enables it by default.</li>
		<li><strong>[Removed flag]</strong>: <code>--disable</code>. There is no way to disable a buildpack upon creation.</li>
	</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf create-route</code></td>
<td>
	<ul>
		<li><strong>[Update]</strong>: <code>SPACE</code> is no longer a required argument. The command creates a route in the space you are targeting.</li>
		<li><strong>[Update]</strong>: Support for TCP routing removed.</li>
		<li><strong>[Removed flag]</strong>: <code>--random-port</code>.</li>
		<li><strong>[Removed flag]</strong>: <code>port</code>.</li>
	</ul> 
</td>
</tr>
<tr>
<td><code>cf create-service-auth-token</code></td>
<td><i>Removed command because the V1 Broker API was deprecated as of January 2015.</i> 
</td>
</tr>
<tr>
<td><code>cf create-service-broker</code></td>
<td>
<ul>
<li><strong>[Added flag]</strong>: <code>--space-scoped</code>. You can create space-scoped service brokers.</li>
</ul>
</td>
</tr>
<tr>
<td ><code>cf create-domain</code></td>
<td><ul>
		<li><strong>[Renamed]</strong>: This command is renamed to <code>cf create-private-domain</code>.</li>
		<li><strong>[Update]</strong>: No longer supports router groups and TCP routing.</li>
	</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf create-shared-domain</code></td>
<td>
<ul>
		<li><strong>[Removed flag]</strong>: <code>--router-group</code>. This removes support for TCP routing.</li>
	</ul> 
</td>
</tr>
<tr>
<td ><code>cf delete</code></td>
<td><ul>
		<li><strong>[Change in flag behavior]</strong>: <code>-r</code> no longer deletes routes when the route is mapped to more than one app.</li>
	</ul> 
</td>
</tr>
<tr>
<td ><code>cf delete-domain</code></td>
<td><ul>
		<li><strong>[Renamed]</strong>: This command is renamed to <code>cf delete-private-domain</code>.</li>
		<li><strong>[Update]</strong>: No longer supports router groups and TCP routing.</li>
	</ul> 
</td>
</tr>
<tr>
<td ><code>cf delete-service-auth-token</code></td>
<td><i>Removed command because the V1 Broker API was deprecated as of January 2015. </i> 
</td>
</tr>
<tr>
<td ><code>cf domains</code></td>
<td><ul>
		<li><strong>[Update]</strong>: <code>status</code> column renamed to <code>availability</code>.</li>
		<li><strong>[Update]</strong>: Refers to private domains with <code>private</code> instead of <code>own</code>.</li>
		<li><strong>[Update]</strong>: Removed <code>type</code> column.</li>
	</ul> 
</td>
</tr>
<tr>
<td><code>cf files</code></td>
<td><i>Removed command because the V1 Broker API was deprecated as of January 2015. </i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf packages</code></td>
<td>
<ul>
		<li><strong>[Update]</strong>: Displays packages from most recent to least recent.</li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf push</code></td>
<td>
<ul>
	        <li><strong>[Removed flag]</strong>: <code>--routh-path</code> You can use the <code>routes</code> property in the manifest instead. </li>
		<li><strong>[Removed flag]</strong>: <code>-d</code> for `domain`. You can use the <code>routes</code> property in the manifest instead. </li>
	        <li><strong>[Removed flag]</strong>: <code>--no-hostname</code>. You can use the <code>routes</code> property in the manifest instead. </li>
	        <li><strong>[Removed flag]</strong>: <code>--hostname</code>. You can use the <code>routes</code> property in the manifest instead. </li>
	        <li><strong>[Added flag]</strong>: <code>--strategy</code>. You can deploy an app without down time using <code>cf push app_name --strategy rolling</code>. Exits when at least one instance of each process is healthy.</li>
		<li><strong>[Added flag]</strong>: <code>--no-wait</code>. When used, the command exits when the one instance of one process becomes healthy.</li>
		<li><strong>[Added flag]</strong>: <code>--endpoint</code>. Required if you set health check type to <code>http</code> when pushing an app.</li>
		<li><strong>[Updated flag]</strong>: <code>--health-check-type none</code> removed in favor of <code>--health-check-type process</code>.</li>
		<li><strong>[Updated flag]</strong>: <code>--no-route</code> no longer unbinds all existing routes associated with the app.</li>
	        <li><strong>[Updated flag]</strong>: <code>-t</code> now has a long form <code>--app-start-timeout</code> </li>

	</ul>
</td>
</tr>
<tr>
<td><code>cf migrate-services-instances</code></td>
<td><i>Removed command because the V1 Broker API was deprecated as of January 2015. </i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf restart-app-instance</code></td>
<td><ul>
		<li><strong>[Added Flag]</strong>: <code>--process</code>.</li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf rename-buildpack</code></td>
<td><i>Removed command. Instead, use <code>--rename</code> flag with <code>cf update-buildpack</code></i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf routes</code></td>
<td><ul>
		<li><strong>[Updated output]</strong>: <code>port</code> and <code>type</code> no longer appear in the table.</li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf scale</code></td>
<td>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
	</ul>
</td>
</tr>
<tr>
<td><code>cf service-auth-tokens</code></td>
<td>
<i>Removed command because the V1 Broker API was deprecated as of January 2015. </i>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf set-health-check</code></td>
<td>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
		<li><strong>[Added flag]</strong>: <code>--invocation-timeout</code></li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf ssh</code></td>
<td>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
		<li><strong>[Added environment variable]</strong>: <code>all_proxy</code>. Specifies a proxy server for all requests. </li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf start</code></td>
<td>
<ul>
		<li><strong>[Update]</strong>: No longer stages an app.</li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf unshare-private-domain</code></td>
<td>
<ul>
		<li><strong>[Update]</strong>: The command now provides a warning and requires confirmation before it proceeds.</li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf update-buildpack</code></td>
<td>
<ul>
		<li><strong>[Added flag]</strong>: <code>--rename</code></li>
	        <li><strong>[Change in flag behavior]</strong>: <code>--unlock</code> and <code>--path</code> are compatible</li>
	</ul>
</td>
</tr>
<tr>
<td><code>cf update-service-auth-token</code></td>
<td>
<i>Removed command because the V1 Broker API was deprecated as of January 2015. </i>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf v3-COMMAND</code></td>
<td>
<ul>
		<li><strong>[Update]</strong>: <code>v3</code> prefixes have been removed as the commands now use CAPI v3 by default.</li>
</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf v3-apply-manifest</code></td>
<td>
<ul>
		<li><strong>[Renamed]</strong>: This command is renamed to <code>cf apply-manifest</code>.</li>
		<li><strong>[Update]</strong>: If no flags are passed, the command defaults to using the manifest located in your <code>pwd</code>.</li>
</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf v3-cancel-zdt-push</code></td>
<td>
<ul>
		<li><strong>[Renamed]</strong>: This command is renamed to <code>cf cancel-deployment</code>.</li>
</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf v3-zdt-push</code></td>
<td>
<ul>
		<li><i>Removed command. Instead, use <code>--strategy rolling</code> flag with <code>cf push</code></i></li>
</ul> 
</td>
</tr>
</table>


