---
title: Upgrading to cf CLI v7
owner: VAT
---

This topic describes the major changes in cf CLI v7 and provides guidance for upgrading from cf CLI v6. 

## <a id="overview"></a> Overview

cf CLI v7 updates all commands to use [Cloud Foundry API (CAPI) v3](https://v3-apidocs.cloudfoundry.org/index.html#introduction) instead of [CAPI v2](http://apidocs.cloudfoundry.org/). 

### <a id="new-features"></a> New Workflows Supported by CAPI v3 and cf CLI v7

The following list provides an overview of the new features available through the cf CLI now that it is backed by CAPI v3. Each item includes a link to additional documentation:

* [Deploying Apps with Zero Downtime](https://docs.cloudfoundry.org/devguide/deploy-apps/zero-downtime.html)
	* Push updates to apps without incurring downtime.
* [Pushing an App with Multiple Processes](https://docs.cloudfoundry.org/devguide/multiple-processes.html)
	* Use a single command to push apps that run multiple processes, such as a web app that has a UI process and a worker process. 
* [Running cf push Sub-Step Commands](http://docs.cloudfoundry.org/devguide/push-sub-commands.html)
	* Exercise granular control over the cf push process. These commands break down the cf push process into sub-steps that can run independently.
* [Running Tasks](https://docs.cloudfoundry.org/devguide/using-tasks.html)
	* Run tasks in Cloud Foundry. A task is an app or script whose code is included as part of a deployed app, but runs independently in its own container.

## <a id="install"></a> Install cf CLI v7

To install cf CLI v7, do the following: 

## <a id="changes"></a> Changes in cf CLI v7

<table>
<tr>
<th style="width:40%">Command in cf CLI v6</th>
<th>Command in cf CLI v7</th>
</tr>
<tr>
<td style="vertical-align:top"><code>cf create-buildpack</code></td>
<td><code>cf create-buildpack</code><hr>
	<ul>
		<li><strong>[Removed flag]</strong>: <code>--enable</code>. Creating a buildpack enables it by default.</li>
	</ul> 
</td>
</tr>
<tr>
<td><code>cf create-service-auth-token</code></td>
<td><i>Removed</i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf create-shared-domain</code></td>
<td><code>cf create-shared-domain</code><hr>
<ul>
		<li><strong>[Removed flag]</strong>: <code>--router-group</code>. This removes support for TCP routing.</li>
	</ul> 
</td>
</tr>
<tr>
<td ><code>cf delete-service-auth-token</code></td>
<td><i>Removed</i> 
</td>
</tr>
<tr>
<td><code>cf files</code></td>
<td><i>Removed</i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf push</code></td>
<td><code>cf push</code><hr>
<ul>
		<li><strong>[Added flag]</strong>: <code>--endpoint</code>. Required if you set health check type to <code>http</code> when pushing an app.</li>
		<li><strong>[Update]</strong>: <code>--health-check-type none</code> removed in favor of <code>--health-check-type process</code>.</li>
		<li><strong>[Update]</strong>: <code>--no-route</code> no longer unbinds all existing routes associated with the app.</li>

	</ul>
</td>
</tr>
<tr>
<td><code>cf migrate-services-instances</code></td>
<td><i>Removed</i> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf rename-buildpack</code></td>
<td><i>Removed</i><hr>
<ul>
		<li><strong>[Update]</strong>: Instead, use <code>--rename</code> flag with <code>cf update-buildpack</code></li>
</ul> 
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf set-health-check</code></td>
<td><code>cf set-health-check</code><hr>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
		<li><strong>[Added flag]</strong>: <code>--invocation-timeout</code></li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf scale</code></td>
<td><code>cf scale</code><hr>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
	</ul>
</td>
</tr>
<tr>
<td><code>cf service-auth-tokens</code></td>
<td>
<i>Removed</i>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf ssh</code></td>
<td><code>cf ssh</code><hr>
<ul>
		<li><strong>[Added flag]</strong>: <code>--process</code></li>
		<li><strong>[Added environment variable]</strong>: <code>all_proxy</code>. Specifies a proxy server for all requests. </li>
	</ul>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf update-buildpack</code></td>
<td><code>cf update-buildpack</code><hr>
<ul>
		<li><strong>[Added flag]</strong>: <code>--path</code></li>
		<li><strong>[Added flag]</strong>: <code>--unlock</code></li>
	</ul>
</td>
</tr>
<tr>
<td><code>cf update-service-auth-token</code></td>
<td>
<i>Removed</i>
</td>
</tr>
<tr>
<td style="vertical-align:top"><code>cf v3-COMMAND</code></td>
<td>
<code>cf COMMAND</code><hr>
<ul>
		<li><strong>[Update]</strong>: <code>v3</code> prefixes have been removed as the commands now use CAPI v3 by default.</li>
</ul> 
</td>
</tr>
</table>


